Package: @@NAME@@
Section: misc
Priority: extra
Maintainer: Philip Munts <phil@munts.net>
Architecture: @@ARCH@@
Version: @@VERSION@@
Description: ARM Mbed OS CLI Library
Conflicts: munts-mbed-cli, mbed5
Replaces: munts-mbed-cli, mbed5
Depends: build-essential, git, python-dev, python-pip, libffi-dev, libxml2-dev
Recommends: gnu-arm-embedded, gcc-arm-none-eabi
